* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-bottom: 10%;
}

.topbar {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.quizbox {
    width: 500px;
    height: 350px;
    margin: auto;
    /*border: black 5px solid;*/
}

.titleques {
    font-size: 18px;
}

.bodyansw {
    font-size: 12px;
}

.mainbutton {
    margin-left: 45%;
    margin-right: 45%;
}