* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-bottom: 10%;
}

.scorebutt {
    cursor: pointer;
    background: transparent;
    border: none;
}

.qbutt {
    cursor:pointer;
    background: cornflowerblue;
    outline: none;
    border: black 5px;
    border-radius: 5px;
}

.topbar {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.quizbox,
.titlebox,
.fancyscore
.initialspage {
    width: 400px;
    height: 200px;
    border: black 5px solid;
    position: absolute;
    transform: translate (-50%, -50%);
}

.quizbox,
.fancyscore,
.initialspage {
    background: white;
}

.titleques {
    font-size: 18px;
}

.bodyansw {
    font-size: 12px;
}

.mainbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    background: cornflowerblue;
    outline: none;
    border: black 5px;
    border-radius: 5px;
    padding-inline: 10px;

}